<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Sighting</title>
</head>

<body>
  <h1>New Sighting</h1>
  <% if (submitted) {%> 
    <h2>Sighting submitted!</h2>
    <% } %>
  <form action='/sighting' method='POST'>
    <label for="text">Text:</label><br />
    <input type="text" id="text" name="text" /><br />
    <label for="date_time">Date & Date & Time:</label><br />
    <input type="datetime" id="date_time" name="date_time" /><br />
    <label for="city">City:</label><br />
    <input type="text" id="city" name="city" /><br />
    <label for="state">State:</label><br />
    <input type="text" id="state" name="state" /><br />
    <label for="shape">Shape:</label><br />
    <input type="text" id="shape" name="shape" /><br />
    <label for="duration">Duration:</label><br />
    <input type="text" id="duration" name="duration" /><br />
    <label for="summary">Summary:</label><br />
    <input type="text" id="summary" name="summary" /><br />
    <button type="submit">Submit</button>
  </form>
</body>

</html>